@charset "UTF-8";
.one {
  height: 600px;
  overflow: hidden;
}
.one__slider {
  position: relative;
}
.one__slider .slider_item {
  border: none;
  outline: none;
  height: 600px;
  padding-top: 140px;
}
.one__slider .slider_item_text {
  color: #47587f;
  font-weight: 300;
  font-size: 5.5rem;
  line-height: 5.5rem;
  text-transform: uppercase;
  font-family: "Uni Sans", Arial, sans-serif;
}
.one__slider .slider_item_text span {
  display: block;
}
.one__slider .slider_item_text strong {
  display: block;
  font-weight: 900;
  color: #eb2429;
  padding-left: 15.5rem;
}
.one .slider_nav.prev {
  left: 50%;
  margin-left: -600px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.one .slider_nav.next {
  right: 50%;
  margin-right: -600px;
}
.one .slick-dots {
  left: 50%;
  bottom: 20px;
  margin-left: -550px;
  position: absolute;
}

.services {
  height: 725px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding-top: 7.3rem;
  background: #fff url("../img/services_bg.jpg") 50% 0 no-repeat;
}
.services__cat {
  margin: 0 -1.2rem 0 0;
  padding: 0.5rem 0;
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.services__cat:after, .services__cat:before {
  top: 0;
  z-index: 1;
  content: "";
  width: 2000px;
  height: 130px;
  position: absolute;
  border: 4px solid #dde5ea;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  border-radius: 75px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.services__cat:after {
  left: -1610px;
}
.services__cat:before {
  right: -1325px;
}
.services__cat > li {
  z-index: 10;
  position: relative;
}
.services__cat_legend {
  padding: 1.9rem 1.5rem 1rem 0;
  color: #727b86;
  font-weight: 900;
  font-size: 4rem;
  text-align: right;
  line-height: 3.6rem;
  text-transform: uppercase;
}
.services__cat_legend span {
  display: block;
  white-space: nowrap;
}
.services__cat_legend strong {
  color: #ea393d;
  display: block;
}
.services__cat_elem {
  color: #727b86;
  font-weight: 300;
  font-size: 10rem;
  cursor: pointer;
  line-height: 11rem;
  padding: 0 1.2rem;
  white-space: nowrap;
  font-family: "Uni Sans", Arial, sans-serif;
}
.services__cat_elem span {
  padding: 0.5rem 4rem;
  display: inline-block;
  position: relative;
}
.services__cat_elem span:after, .services__cat_elem span:before {
  top: 10px;
  z-index: 1;
  color: #8da2af;
  font-size: 10rem;
  line-height: 8.6rem;
  position: absolute;
  display: inline-block;
}
.services__cat_elem span:after {
  left: 0;
  content: "«";
}
.services__cat_elem span:before {
  right: 0;
  content: "»";
}
.services__cat_elem.active {
  font-size: 10rem;
  font-weight: 400;
}
.services__cat_elem.active span {
  color: #fff;
  background: url("../img/cat_active.png") 50% 80% no-repeat;
}
.services__cat_elem.active span:after, .services__cat_elem.active span:before {
  display: none;
}
.services__cat.active_01:after {
  left: -1610px;
}
.services__cat.active_01:before {
  right: -1325px;
}
.services__cat.active_02:after {
  left: -1445px;
}
.services__cat.active_02:before {
  right: -1485px;
}
.services__cat.active_03:after {
  left: -1280px;
}
.services__cat.active_03:before {
  right: -1650px;
}
.services__cat.active_04:after {
  left: -1120px;
}
.services__cat.active_04:before {
  right: -1820px;
}
.services__cat.active_05:after {
  left: -950px;
}
.services__cat.active_05:before {
  right: -1985px;
}
.services__slider_item {
  border: none;
  outline: none;
}
.services__elem {
  width: 930px;
  height: 375px;
  margin: 0 auto;
  padding-top: 45px;
}
.services .slider_nav.prev {
  left: 50%;
  margin-left: -600px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.services .slider_nav.next {
  right: 50%;
  margin-right: -600px;
}

.advantages {
  height: 720px;
  padding-top: 5rem;
  background: #fff url("../img/advantages_bg.jpg") 50% 0 no-repeat;
  position: relative;
}
.advantages__heading {
  line-height: 1;
  color: #7a919f;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-family: "Uni Sans", Arial, sans-serif;
}
.advantages__heading strong {
  display: block;
  color: #eb2429;
  font-weight: 900;
  font-size: 6.8rem;
  line-height: 6.8rem;
}
.advantages__heading span {
  font-weight: 300;
  display: block;
  font-size: 6rem;
  line-height: 6rem;
  padding-left: 7.5rem;
}
.advantages__wrap {
  position: relative;
  padding: 3rem 63rem 0 8rem;
}
.advantages__slider {
  padding-bottom: 4.4rem;
}
.advantages__slider_item {
  border: none;
  outline: none;
}
.advantages__elem {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.advantages__elem_num {
  width: 145px;
  min-height: 260px;
  color: #6696aa;
  font-weight: 400;
  font-size: 25rem;
  line-height: 20rem;
  padding-right: 1rem;
  text-align: right;
  position: relative;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.advantages__elem_num span {
  bottom: 0;
  right: 10px;
  display: block;
  position: absolute;
}
.advantages__elem_text {
  color: #949494;
  font-size: 1.8rem;
  line-height: 2rem;
}
.advantages__elem_text h4 {
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 3.8rem;
  color: #efc94c;
  margin-bottom: 0.5rem;
  font-family: "Uni Sans", Arial, sans-serif;
}
.advantages__elem_text p {
  margin-bottom: 0;
}
.advantages .slider_nav {
  margin-top: -35px;
}
.advantages .slider_nav.prev {
  left: 0;
}
.advantages .slider_nav.next {
  right: 0;
}
.advantages .slick-dots {
  bottom: 0;
  left: 40px;
}

.action {
  height: 540px;
  padding-top: 6.5rem;
  background: #fff url("../img/action_bg.jpg") 50% 0 no-repeat;
}
.action__box {
  margin-left: 47rem;
}
.action__heading {
  line-height: 1;
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-family: "Uni Sans", Arial, sans-serif;
}
.action__heading .s1 {
  color: #d1dce3;
  font-size: 4.8rem;
  line-height: 4.8rem;
  margin-left: -70px;
}
.action__heading .s1 strong {
  font-weight: 400;
  font-size: 7.2rem;
  color: #db9c24;
}
.action__heading .s2 {
  color: #db9c24;
  font-size: 7.2rem;
  line-height: 7.2rem;
  padding-left: 1rem;
}
.action__heading .s3 {
  color: #eb2429;
  font-size: 4.8rem;
  line-height: 5.2rem;
  padding-left: 1rem;
}
.action__form {
  width: 333px;
}

.instructor {
  height: 730px;
  padding-top: 7.4rem;
  background: #fff url("../img/instruktors_bg.jpg") 50% 0 no-repeat;
}
.instructor__wrap {
  padding: 0 7rem;
  position: relative;
}
.instructor__heading {
  top: 25px;
  left: 310px;
  z-index: 100;
  color: #7a919f;
  line-height: 1;
  font-size: 5.1rem;
  position: absolute;
  text-transform: uppercase;
  font-family: "Uni Sans", Arial, sans-serif;
}
.instructor__heading span {
  display: block;
}
.instructor__heading strong {
  display: block;
  font-weight: 900;
  color: #eb2429;
  font-size: 5.5rem;
}
.instructor__slider {
  position: relative;
}
.instructor__slider_item {
  border: none;
  outline: none;
}
.instructor__elem {
  height: 550px;
  position: relative;
}
.instructor__elem_photo {
  left: 2px;
  top: 0;
  width: 299px;
  position: absolute;
}
.instructor__elem_name {
  top: 155px;
  left: 240px;
  color: #596e7b;
  font-size: 3.6rem;
  line-height: 3.6rem;
  position: absolute;
}
.instructor__elem_quote {
  top: 228px;
  left: 315px;
  width: 315px;
  color: #7a919f;
  font-size: 2.4rem;
  line-height: 3rem;
  position: absolute;
  padding: 2rem 4rem 2rem 5.6rem;
}
.instructor__elem_quote:after, .instructor__elem_quote:before {
  z-index: 1;
  content: "";
  width: 47px;
  height: 43px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon_qoute.png") 0 0 no-repeat;
}
.instructor__elem_quote:after {
  top: 0;
  left: 0;
}
.instructor__elem_quote:before {
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.instructor__elem_link {
  top: 345px;
  left: 310px;
  color: #eb2429;
  font-size: 1.8rem;
  line-height: 2rem;
  position: absolute;
  text-decoration: none;
  font-family: "Uni Sans", Arial, sans-serif;
}
.instructor__elem_link:hover {
  color: #596e7b;
}
.instructor__elem_ford_logo {
  right: 0;
  top: 245px;
  width: 185px;
  position: absolute;
}
.instructor__elem_ford_auto {
  bottom: 0;
  right: 75px;
  width: 497px;
  position: absolute;
}
.instructor .slider_nav {
  margin-top: -40px;
}
.instructor .slider_nav.prev {
  left: 18px;
}
.instructor .slider_nav.next {
  right: 18px;
}

.stat {
  height: 490px;
  padding-top: 5rem;
  background: #fff url("../img/stats_bg.jpg") 50% 100% no-repeat;
}
.stat__heading {
  font-weight: 400;
  color: #eb2429;
  font-size: 5.5rem;
  line-height: 5.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.stat__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.stat__list > li {
  width: 324px;
  height: 334px;
  color: #7a919f;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  padding: 17rem 1rem 0 1rem;
}
.stat__list > li:nth-child(1) {
  background: url("../img/stat_one.png") 50% 0 no-repeat;
}
.stat__list > li:nth-child(2) {
  background: url("../img/stat_two.png") 50% 0 no-repeat;
}
.stat__list > li:nth-child(3) {
  background: url("../img/stat_three.png") 50% 0 no-repeat;
}
.stat__list > li strong {
  display: block;
  font-weight: 900;
  color: #eb2429;
  font-size: 5.5rem;
  line-height: 5.5rem;
  margin-bottom: 0.2rem;
}

.promo {
  height: 720px;
  padding-top: 16.5rem;
  background: #fff url("../img/promo_bg.jpg") 50% 50% no-repeat;
}
.promo__heading {
  color: #8d97a2;
  font-size: 6rem;
  line-height: 6rem;
  text-transform: uppercase;
  font-family: "Uni Sans", Arial, sans-serif;
}
.promo__heading span {
  display: block;
}
.promo__heading strong {
  display: block;
  font-weight: 900;
  color: #eb2429;
  padding-left: 14rem;
  margin-bottom: 2rem;
}
.promo__form {
  width: 332px;
}

.comments {
  height: 490px;
  padding-top: 5.5rem;
  background: #fff url("../img/comments_bg.jpg") 50% 100% repeat-x;
}
.comments__heading {
  color: #eb2429;
  font-weight: 600;
  font-size: 7.2rem;
  line-height: 7.2rem;
  padding-left: 21rem;
  margin-bottom: 4.5rem;
  text-transform: uppercase;
}
.comments__wrap {
  padding: 0 7rem;
  margin-left: 355px;
  position: relative;
  margin-bottom: 4.5rem;
}
.comments__slider {
  position: relative;
}
.comments__slider_item {
  border: none;
  outline: none;
}
.comments__elem {
  color: #6a7784;
  display: block;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2rem;
  position: relative;
  text-decoration: none;
  padding: 4rem 5rem 4rem 6rem;
}
.comments__elem:after, .comments__elem:before {
  z-index: 1;
  content: "";
  width: 47px;
  height: 43px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon_qoute.png") 0 0 no-repeat;
}
.comments__elem:after {
  top: 0;
  left: 0;
}
.comments__elem:before {
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.comments__elem_heading {
  color: #646464;
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}
.comments__elem_text {
  overflow: hidden;
  max-height: 12rem;
  color: #6a7784;
}
.comments .slider_nav:after, .comments .slider_nav:before {
  background: #fff;
}
.comments .slider_nav:hover:after, .comments .slider_nav:hover:before {
  background: #eb2429;
}
.comments .slider_nav.prev {
  left: 0;
}
.comments .slider_nav.next {
  right: 0;
}
.comments .comments_all {
  font-size: 2.4rem;
  line-height: 3rem;
  color: #eb2429;
  text-decoration: none;
}
.comments .comments_all:hover {
  color: #000;
}

.contact {
  height: 498px;
  position: relative;
}
.contact .map {
  height: 498px;
  background: url("../img/map.jpg") 50% 50% no-repeat;
}
.contact .container {
  position: relative;
}
.contact__block {
  left: 10px;
  top: -20px;
  min-width: 345px;
  position: absolute;
  padding: 3.5rem 4rem 3rem 1rem;
  background: rgba(40, 46, 54, 0.4);
}
.contact__block_item {
  color: #fff;
  font-weight: 600;
  font-size: 2.7rem;
  line-height: 3rem;
  margin-bottom: 1.2rem;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 0.5rem 0 0.5rem 5rem;
}
.contact__block_item:last-child {
  margin-bottom: 0;
}
.contact__block_item a {
  color: #fff;
  text-decoration: none;
}
.contact__block_item.item_location {
  background: url("../img/icon_gold__location.svg") 0 50% no-repeat;
}
.contact__block_item.item_phone {
  background: url("../img/icon_gold__phone.svg") 0 50% no-repeat;
}
.contact__block_item.item_email {
  background: url("../img/icon_gold__email.svg") 0 50% no-repeat;
}

/*# sourceMappingURL=homepage.css.map */
