.page {
	overflow: hidden;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
}

.slider_nav {
	top: 50%;
	z-index: 10;
	width: 52px;
	height: 101px;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	margin-top: -50px;
	position: absolute;
	display: inline-block;
	background: transparent;

	&:after,
	&:before {
		top: 50%;
		left: 50%;
		z-index: 1;
		width: 72px;
		height: 3px;
		content: '';
		margin-left: -36px;
		position: absolute;
		background: #6696aa;
		@include border-radius(1px);
	}

	&:after {
		margin-top: 24px;
		@include rotate(-45deg);
	}

	&:before {
		margin-top: -26px;
		@include rotate(45deg);
	}

	&.prev {
		@include rotate(180deg);
	}

	&:hover {
		&:after,
		&:before {
			background: $color-red;
		}
	}
}

.slick-dots {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	position: absolute;
	color: transparent;
	list-style: none;
	@include flexbox();

	li {
		width: 18px;
		height: 18px;
		margin: 0 2px;

		button {
			margin: 0;
			padding: 0;
			width: 18px;
			height: 18px;
			border: none;
			outline: none;
			cursor: pointer;
			position: relative;
			background: transparent;
			display: inline-block;
			@include border-radius(50%);

			&:before {
				top: 50%;
				left: 50%;
				content: '';
				width: 10px;
				height: 10px;
				position: absolute;
				background: #a7a7a7;
				margin: -5px 0 0 -5px;
				@include border-radius(50%);
			}
		}

		&.slick-active {

			button {
				background: $color-red;

				&:before {
					background: $color-red;
				}
			}
		}
	}
}



