
.footer {
	height: 444px;
	position: relative;
	background: #171a1e url("../img/footer_bg.jpg") 50% 100% repeat-x;

	&:before {
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		height: 395px;
		position: absolute;
		background: url("../img/footer_pattern.png") 50% 100% no-repeat;
	}

	.container {
		z-index: 10;
		height: 444px;
		position: relative;
		@include flexbox();
		@include flex-direction(column);
	}

	&__logo {
		left: 0;
		top: 6px;
		width: 195px;
		height: 195px;
		z-index: 1000;
		display: block;
		overflow: hidden;
		position: absolute;
		background: #0b0b0c;
		@include border-radius(50%);
		@include box-shadow(0px 11px 24px 0px rgba(0, 0, 0, 0.9));
	}

	&__top {
		padding: 0.9rem 0;
		@include flexbox();
		@include justify-content(flex-end);
	}

	&__contact {
		color: #efc94c;
		font-size: 3rem;
		font-weight: 300;
		line-height: 3rem;
		margin-right: 0.5rem;
		padding-left: 9.2rem;
		text-decoration: none;
		display: inline-block;
		font-family: $font-family-head;
		background: url("../img/footer_contact_icon.png") 0 50% no-repeat;
	}

	&__callback {
		color: $color-red;
		font-size: 2.3rem;
		line-height: 3rem;
		text-decoration: none;
		display: inline-block;
		text-transform: uppercase;

		&:hover {
			color: #fff;
		}
	}

	&__center {
		padding: 7rem 0 0 25.7rem;
		@include flexbox();
		@include flex-grow(1);
	}

	&__nav {
		width: 345px;

		&_title {
			font-size: 2.4rem;
			line-height: 2rem;
			color: $color-red;
			margin-bottom: 1.2rem;
			text-transform: uppercase;
		}

		ul {
			margin: 0;
			padding: 0;
			font-weight: 300;
			font-size: 1.8rem;
			line-height: 2.4rem;
			list-style: none;

			li {

				a {
					color: #e5e5e5;
					text-decoration: none;
					text-transform: uppercase;
					font-family: $font-family-head;

					&:hover {
						color: #fff;
					}
				}
			}
		}
	}

	&__bottom {
		width: 100%;
		padding: 0 13rem 0.5rem 0;
		@include flexbox();
		@include justify-content(space-between);

		&_links {
			margin: 0;
			padding: 0.5rem 0 0 0;
			font-size: 1.8rem;
			line-height: 2rem;
			list-style: none;

			> li {

				> a {
					color: #7f7f7f;
					font-weight: 300;
					text-decoration: none;

					&:hover {
						color: #fff;
					}
				}
			}
		}

		&_dev {
			width: 152px;
			display: block;
		}
	}
}