.header {
	color: #fff;
	z-index: 999;
	padding: 0.2rem 0;
	background: #2d2f31;

	.container {
		padding-left: 190px;
		position: relative;
		@include flexbox();
		@include justify-content(space-between);
	}

	&__logo {
		z-index: 1000;
		top: -10px;
		left: 0;
		width: 195px;
		height: 195px;
		display: block;
		overflow: hidden;
		position: absolute;
		background: #0b0b0c;
		@include border-radius(50%);
		@include box-shadow(0px 11px 24px 0px rgba(0, 0, 0, 0.9));
	}

	&__nav {
		margin: 0;
		padding: 0;
		float: left;
		list-style: none;
		@include flexbox();

		> li {
			padding-right: 3rem;

			> a {
				color: #cfcfcf;
				padding: 0.5rem 0;
				font-size: 1.6rem;
				line-height: 2rem;
				white-space: nowrap;
				display: inline-block;
				text-decoration: none;

				&:hover {
					color: #fff;
				}
			}
		}
	}

	&__contact {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		@include flexbox();

		> li {

			&:first-child {
				padding-right: 3rem;
			}
		}
	}

	&__phone {
		color: #efc94c;
		font-size: 3rem;
		font-weight: 300;
		line-height: 3rem;
		padding-left: 3.6rem;
		text-decoration: none;
		display: inline-block;
		font-family: $font-family-head;
		background: url("../img/icon_phone.svg") 0 50% no-repeat;
	}

	&__callback {
		font-size: 2.3rem;
		line-height: 3rem;
		text-decoration: none;
		display: inline-block;
		text-transform: uppercase;

		&:hover {
			color: #fff;
		}
	}
}

.topnav {
	color: #fff;
	z-index: 800;
	background: #000;
	padding: 0.4rem 0;
	position: relative;

	&__menu {
		padding: 0;
		list-style: none;
		margin: 0 -3rem 0 0;
		@include flexbox();
		@include justify-content(flex-end);

		> li {

			> a {
				color: #fff;
				font-weight: 300;
				font-size: 2.4rem;
				position: relative;
				white-space: nowrap;
				line-height: 3.4rem;
				display: inline-block;
				padding: 0.5rem 3rem;
				text-decoration: none;
				text-transform: uppercase;
				@include border-radius(22px);

				span {

				}

				&:hover {
					background: #2e2e2f;
					color: $color-yellow;
					text-decoration: none;
				}
			}

			&:hover {

				.dropnav {
					opacity: 1;
					visibility: visible;
				}
			}

			&:hover,
			&.active {

				> a {
					background: #2e2e2f;
					color: $color-yellow;
					text-decoration: none;
				}
			}

			&:last-child {

				> a {
					padding-left: 5rem;

					&:before {
						top: 50%;
						left: 10px;
						width: 33px;
						content: '';
						height: 33px;
						display: block;
						position: absolute;
						margin-top: -17px;
						background: url("../img/header_sale.png") 0 0 no-repeat;
					}
				}
			}
		}
	}
}

.dropnav {
	left: 0;
	right: 0;
	top: 48px;
	opacity: 0;
	z-index: 800;
	visibility: hidden;
	padding-top: .4rem;
	position: absolute;
	@include box-shadow(0px 0px 24px 0px rgba(0, 0, 0, 0.9));

	&__wrap {
		background: #fff;
		min-height: 240px;
		position: relative;

		&:before {
			top: 50%;
			right: 50%;
			z-index: 1;
			content: '';
			width: 310px;
			height: 193px;
			position: absolute;
			margin: -96px -730px 0 0;
			background: url("../img/dropnav_bg_image.png") 0 0 no-repeat;
		}
	}

	&__container {
		z-index: 10;
		width: 1200px;
		margin: 0 auto;
		position: relative;
		padding: 1rem 18rem 2rem 20rem;
		@include flexbox();
	}

	&__nav {
		margin: 0;
		list-style: none;
		font-size: 1.6rem;
		line-height: 3rem;
		padding: 0 3rem 0 0;
		border-right: 1px solid #dde5ea;
		@include flex-shrink(0);

		> li {

			> a {
				color: #717171;
				padding-left: 15px;
				position: relative;
				white-space: nowrap;
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;

				&:before {
					left: 0;
					top: 50%;
					width: 8px;
					height: 8px;
					content: '';
					margin-top: -4px;
					position: absolute;
					background: #a9afb7;
					@include border-radius(50%);
				}

				&:hover {
					color: $color-red;

					&:before {
						background: $color-red;
					}
				}
			}

			&.active {

				> a {
					color: $color-red;

					&:before {
						background: $color-red;
					}
				}
			}
		}
	}

	&__content {
		padding-left: 2.5rem;
		@include flex-grow(1);
	}

	&__item {
		display: none;
		color: #8b8f94;
		font-size: 1.8rem;
		line-height: 2rem;

		&.active {
			display: block;
		}

		&_title {
			font-weight: 600;
			font-size: 2.4rem;
			line-height: 2.6rem;
			margin-bottom: 2rem;
		}

		p {
			margin-bottom: 0;
		}
	}
}
