* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


body {
	margin: 0 auto;
	min-width: 1250px;
	color: $color-base;
	font-family: $font-family-base;
	background-color: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;
}


.container {
	width: 1220px;
	margin-right: auto;
	margin-left: auto;
	padding-left:  ($gutter);
	padding-right: ($gutter);
	@include clearfix;
}


// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.2;
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}

h6, .h6 {

}



// Links

a {
	outline: none;
	color: $link-color;
	text-decoration: underline;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;

	&:hover {
		text-decoration: none;
	}
}