@import "variables";


// Mixins

@import "mixins/gradients";
@import "mixins/vendor-prefixes";
@import "mixins/clearfix";
@import "mixins/flex";

@import "mixins/grid-mixins";
@import "mixins/visibility-mixins";



.one {
	height: 600px;
	overflow: hidden;

	&__slider {
		position: relative;

		.slider_item {
			border: none;
			outline: none;
			height: 600px;
			padding-top: 140px;
		}

		.slider_item_text {
			color: #47587f;
			font-weight: 300;
			font-size: 5.5rem;
			line-height: 5.5rem;
			text-transform: uppercase;
			font-family: $font-family-head;

			span {
				display: block;
			}

			strong {
				display: block;
				font-weight: 900;
				color: $color-red;
				padding-left: 15.5rem;
			}
		}
	}

	.slider_nav {

		&.prev {
			left: 50%;
			margin-left: -600px;
			@include rotate(180deg);
		}

		&.next {
			right: 50%;
			margin-right: -600px;
		}
	}

	.slick-dots {
		left: 50%;
		bottom: 20px;
		margin-left: -550px;
		position: absolute;
	}
}

.services {
	height: 725px;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	padding-top: 7.3rem;
	background: #fff url("../img/services_bg.jpg") 50% 0 no-repeat;

	&__cat {
		margin: 0 -1.2rem 0 0;
		padding: 0.5rem 0;
		list-style: none;
		position: relative;
		@include flexbox();

		&:after,
		&:before {
			top: 0;
			z-index: 1;
			content: '';
			width: 2000px;
			height: 130px;
			position: absolute;
			border: 4px solid #dde5ea;
			@include border-radius(75px);
			@include transition(all 0.3s linear);
		}

		&:after {
			left: -1610px;
		}

		&:before {
			right: -1325px;
		}

		> li {
			z-index: 10;
			position: relative;
		}

		&_legend {
			padding: 1.9rem 1.5rem 1rem 0;
			color: #727b86;
			font-weight: 900;
			font-size: 4rem;
			text-align: right;
			line-height: 3.6rem;
			text-transform: uppercase;

			span {
				display: block;
				white-space: nowrap;
			}

			strong {
				color: #ea393d;
				display: block;
			}
		}

		&_elem {
			color: #727b86;
			font-weight: 300;
			font-size: 10rem;
			cursor: pointer;
			line-height: 11rem;
			padding: 0 1.2rem;
			white-space: nowrap;
			font-family: $font-family-head;

			span {
				padding: 0.5rem 4rem;
				display: inline-block;
				position: relative;

				&:after,
				&:before {
					top: 10px;
					z-index: 1;
					color: #8da2af;
					font-size: 10rem;
					line-height: 8.6rem;
					position: absolute;
					display: inline-block;
				}

				&:after {
					left: 0;
					content: '«';
				}

				&:before {
					right: 0;
					content: '»';
				}
			}

			&.active {
				font-size: 10rem;
				font-weight: 400;

				span {
					color: #fff;
					background: url("../img/cat_active.png") 50% 80% no-repeat;

					&:after,
					&:before {
						display: none;
					}
				}
			}
		}


		&.active_01 {

			&:after {
				left: -1610px;
			}

			&:before {
				right: -1325px;
			}
		}

		&.active_02 {

			&:after {
				left: -1445px;
			}

			&:before {
				right: -1485px;
			}
		}

		&.active_03 {

			&:after {
				left: -1280px;
			}

			&:before {
				right: -1650px;
			}
		}

		&.active_04 {

			&:after {
				left: -1120px;
			}

			&:before {
				right: -1820px;
			}
		}

		&.active_05 {

			&:after {
				left: -950px;
			}

			&:before {
				right: -1985px;
			}
		}
	}

	&__slider {

		&_item {
			border: none;
			outline: none;
		}
	}

	&__elem {
		width: 930px;
		height: 375px;
		margin: 0 auto;
		padding-top: 45px;
	}

	.slider_nav {

		&.prev {
			left: 50%;
			margin-left: -600px;
			@include rotate(180deg);
		}

		&.next {
			right: 50%;
			margin-right: -600px;
		}
	}
}

.advantages {
	height: 720px;
	padding-top: 5rem;
	background: #fff url("../img/advantages_bg.jpg") 50% 0 no-repeat;

	&__heading {
		line-height: 1;
		color: #7a919f;
		margin-bottom: 2rem;
		text-transform: uppercase;
		font-family: $font-family-head;

		strong {
			display: block;
			color: $color-red;
			font-weight: 900;
			font-size: 6.8rem;
			line-height: 6.8rem;
		}

		span {
			font-weight: 300;
			display: block;
			font-size: 6rem;
			line-height: 6rem;
			padding-left: 7.5rem;
		}
	}

	&__wrap {
		position: relative;
		padding: 3rem 63rem 0 8rem;
	}
	position: relative;

	&__slider {
		padding-bottom: 4.4rem;

		&_item {
			border: none;
			outline: none;
		}
	}

	&__elem {
		width: 100%;
		@include flexbox();

		&_num {
			width: 145px;
			min-height: 260px;
			color: #6696aa;
			font-weight: 400;
			font-size: 25rem;
			line-height: 20rem;
			padding-right: 1rem;
			text-align: right;
			position: relative;
			@include flex-shrink(0);

			span {
				bottom: 0;
				right: 10px;
				display: block;
				position: absolute;
			}
		}

		&_text {
			color: #949494;
			font-size: 1.8rem;
			line-height: 2rem;

			h4 {
				font-weight: 400;
				font-size: 3.6rem;
				line-height: 3.8rem;
				color: $color-yellow;
				margin-bottom: 0.5rem;
				font-family: $font-family-head;
			}

			p {
				margin-bottom: 0;
			}
		}
	}

	.slider_nav {
		margin-top: -35px;

		&.prev {
			left: 0;
		}

		&.next {
			right: 0;
		}
	}

	.slick-dots {
		bottom: 0;
		left: 40px;
	}
}

.action {
	height: 540px;
	padding-top: 6.5rem;
	background: #fff url("../img/action_bg.jpg") 50% 0 no-repeat;

	&__box {
		margin-left: 47rem;
	}

	&__heading {
		line-height: 1;
		margin-bottom: 3rem;
		text-transform: uppercase;
		font-family: $font-family-head;

		.s1 {
			color: #d1dce3;
			font-size: 4.8rem;
			line-height: 4.8rem;
			margin-left: -70px;

			strong {
				font-weight: 400;
				font-size: 7.2rem;
				color: #db9c24;
			}
		}

		.s2 {
			color: #db9c24;
			font-size: 7.2rem;
			line-height: 7.2rem;
			padding-left: 1rem;
		}

		.s3 {
			color: $color-red;
			font-size: 4.8rem;
			line-height: 5.2rem;
			padding-left: 1rem;
		}
	}

	&__form {
		width: 333px;
	}
}

.instructor {
	height: 730px;
	padding-top: 7.4rem;
	background: #fff url("../img/instruktors_bg.jpg") 50% 0 no-repeat;

	&__wrap {
		padding: 0 7rem;
		position: relative;
	}

	&__heading {
		top: 25px;
		left: 310px;
		z-index: 100;
		color: #7a919f;
		line-height: 1;
		font-size: 5.1rem;
		position: absolute;
		text-transform: uppercase;
		font-family: $font-family-head;

		span {
			display: block;
		}

		strong {
			display: block;
			font-weight: 900;
			color: $color-red;
			font-size: 5.5rem;
		}
	}

	&__slider {
		position: relative;

		&_item {
			border: none;
			outline: none;
		}
	}

	&__elem {
		height: 550px;
		position: relative;

		&_photo {
			left: 2px;
			top: 0;
			width: 299px;
			position: absolute;
		}

		&_name {
			top: 155px;
			left: 240px;
			color: #596e7b;
			font-size: 3.6rem;
			line-height: 3.6rem;
			position: absolute;
		}

		&_quote {
			top: 228px;
			left: 315px;
			width: 315px;
			color: #7a919f;
			font-size: 2.4rem;
			line-height: 3rem;
			position: absolute;
			padding: 2rem 4rem 2rem 5.6rem;

			&:after,
			&:before {
				z-index: 1;
				content: '';
				width: 47px;
				height: 43px;
				position: absolute;
				display: inline-block;
				background: url("../img/icon_qoute.png") 0 0 no-repeat;
			}

			&:after {
				top: 0;
				left: 0;
			}

			&:before {
				right: 0;
				bottom: 0;
				@include rotate(180deg);
			}
		}

		&_link {
			top: 345px;
			left: 310px;
			color: $color-red;
			font-size: 1.8rem;
			line-height: 2rem;
			position: absolute;
			text-decoration: none;
			font-family: $font-family-head;

			&:hover {
				color: #596e7b;
			}
		}

		&_ford_logo {
			right: 0;
			top: 245px;
			width: 185px;
			position: absolute;
		}

		&_ford_auto {
			bottom: 0;
			right: 75px;
			width: 497px;
			position: absolute;
		}
	}

	.slider_nav {
		margin-top: -40px;

		&.prev {
			left: 18px;
		}

		&.next {
			right: 18px;
		}
	}
}

.stat {
	height: 490px;
	padding-top: 5rem;
	background: #fff url("../img/stats_bg.jpg") 50% 100% no-repeat;

	&__heading {
		font-weight: 400;
		color: $color-red;
		font-size: 5.5rem;
		line-height: 5.5rem;
		text-align: center;
		margin-bottom: 1.5rem;
		text-transform: uppercase;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include justify-content(space-between);

		> li {
			width: 324px;
			height: 334px;
			color: #7a919f;
			font-weight: 300;
			font-size: 2.4rem;
			line-height: 2.4rem;
			text-align: center;
			padding: 17rem 1rem 0 1rem;

			&:nth-child(1) {
				background: url("../img/stat_one.png") 50% 0 no-repeat;
			}

			&:nth-child(2) {
				background: url("../img/stat_two.png") 50% 0 no-repeat;
			}

			&:nth-child(3) {
				background: url("../img/stat_three.png") 50% 0 no-repeat;
			}

			strong {
				display: block;
				font-weight: 900;
				color: $color-red;
				font-size: 5.5rem;
				line-height: 5.5rem;
				margin-bottom: 0.2rem;
			}
		}
	}
}

.promo {
	height: 720px;
	padding-top: 16.5rem;
	background: #fff url("../img/promo_bg.jpg") 50% 50% no-repeat;

	&__heading {
		color: #8d97a2;
		font-size: 6rem;
		line-height: 6rem;
		text-transform: uppercase;
		font-family: $font-family-head;

		span {
			display: block;
		}

		strong {
			display: block;
			font-weight: 900;
			color: $color-red;
			padding-left: 14rem;
			margin-bottom: 2rem;
		}
	}

	&__form {
		width: 332px;
	}
}

.comments {
	height: 490px;
	padding-top: 5.5rem;
	background: #fff url("../img/comments_bg.jpg") 50% 100% repeat-x;

	&__heading {
		color: $color-red;
		font-weight: 600;
		font-size: 7.2rem;
		line-height: 7.2rem;
		padding-left: 21rem;
		margin-bottom: 4.5rem;
		text-transform: uppercase;
	}

	&__wrap {
		padding: 0 7rem;
		margin-left: 355px;
		position: relative;
		margin-bottom: 4.5rem;
	}

	&__slider {
		position: relative;

		&_item {
			border: none;
			outline: none;
		}
	}

	&__elem {
		color: #6a7784;
		display: block;
		font-size: 2rem;
		font-weight: 300;
		line-height: 2rem;
		position: relative;
		text-decoration: none;
		padding: 4rem 5rem 4rem 6rem;

		&:after,
		&:before {
			z-index: 1;
			content: '';
			width: 47px;
			height: 43px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon_qoute.png") 0 0 no-repeat;
		}

		&:after {
			top: 0;
			left: 0;
		}

		&:before {
			right: 0;
			bottom: 0;
			@include rotate(180deg);
		}

		&_heading {
			color: #646464;
			font-size: 2.4rem;
			line-height: 2.4rem;
			margin-bottom: 1rem;
		}

		&_text {
			overflow: hidden;
			max-height: 12rem;
			color: #6a7784;
		}

	}

	.slider_nav {

		&:after,
		&:before {
			background: #fff;
		}

		&:hover {

			&:after,
			&:before {
				background: $color-red;
			}
		}

		&.prev {
			left: 0;
		}

		&.next {
			right: 0;
		}
	}

	.comments_all {
		font-size: 2.4rem;
		line-height: 3rem;
		color: $color-red;
		text-decoration: none;

		&:hover {
			color: #000;
		}
	}
}

.contact {
	height: 498px;
	position: relative;

	.map {
		height: 498px;
		background: url("../img/map.jpg") 50% 50% no-repeat;
	}

	.container {
		position: relative;
	}

	&__block {
		left: 10px;
		top: -20px;
		min-width: 345px;
		position: absolute;
		padding: 3.5rem 4rem 3rem 1rem;
		background: rgba(40,46,54,0.4);

		&_item {
			color: #fff;
			font-weight: 600;
			font-size: 2.7rem;
			line-height: 3rem;
			margin-bottom: 1.2rem;
			white-space: nowrap;
			text-transform: uppercase;
			padding: 0.5rem 0 0.5rem 5rem;

			&:last-child {
				margin-bottom: 0;
			}

			a {
				color: #fff;
				text-decoration: none;
			}

			&.item_location {
				background: url("../img/icon_gold__location.svg") 0 50% no-repeat;
			}

			&.item_phone {
				background: url("../img/icon_gold__phone.svg") 0 50% no-repeat;
			}

			&.item_email {
				background: url("../img/icon_gold__email.svg") 0 50% no-repeat;
			}
		}
	}
}
