
.btn {
	color: #fff;
	border: none;
	outline: none;
	text-align: left;
	font-weight: 300;
	font-size: 3.6rem;
	line-height: 4rem;
	user-select: none;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	padding: 0.7rem 2.2rem;
	text-transform: uppercase;
	font-family: $font-family-head;
	@include gradient-horizontal(#e9393d,#c12f33);
	@include border-radius(27px);
	@include transition(.2s);

	&:before {
		right: 1px;
		top: 27px;
		content: '';
		width: 25px;
		height: 35px;
		position: absolute;
		display: inline-block;
		background: url("../img/btn_pattern.png") 0 0 no-repeat;
	}

	&:hover {
		color: #fff;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_long {
	width: 100%;
}