.form_control {
	margin: 0;
	width: 100%;
	outline: none;
	font-weight: 100;
	color: rgba(255,255,255,0.35);
	font-size: 3.6rem;
	line-height: 4rem;
	padding: 0.5rem 2rem;
	display: inline-block;
	text-transform: uppercase;
	background: rgba(73,90,108,0.6);
	border: 1px solid transparent;
	font-family: $font-family-head;
	@include border-radius(25px);
	@include placeholder(rgba(73,90,108,0.6));
	@include transition(0.3s);


	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		background: rgba(73,90,108,0.8);
		@include placeholder(transparent);
	}
}

.form_control_white {
	margin: 0;
	width: 100%;
	outline: none;
	font-weight: 100;
	color: rgba(255,255,255,0.35);
	font-size: 3.6rem;
	line-height: 4rem;
	padding: 0.5rem 2rem;
	display: inline-block;
	text-transform: uppercase;
	background: rgba(255,255,255,0.25);
	border: 1px solid transparent;
	font-family: $font-family-head;
	@include border-radius(25px);
	@include placeholder(rgba(255,255,255,0.25));
	@include transition(0.3s);


	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		background: rgba(255,255,255,0.1);
		@include placeholder(transparent);
	}
}


.form_group {
	margin-bottom: 1rem;
}